/*----- Edit Bar -----*/


 #edit-bar {
    background-color: #75AD0A;
 
    
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
   
    min-height: 1.73em;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
  }
#content-views {
  background-color:#75ad0a;
  float:left;
  margin-right: 500px;
  }
#content-views li {
  display:inline;
  }
#content-views a {
  color:#fff;
  display:inline-block;
  line-height:1.73em;
  padding:0 0.75em;
  text-decoration:none;
   padding-bottom: 8px;
  }
#content-views li.selected a,
#content-views li a:hover {
  background:#fff;
  color:#000;
  }
#content-views li.selected a {
  font-weight:bold;
  }
/*edit bar drop down*/
  dl#plone-contentmenu-factories.actionMenu dt.actionMenuHeader {
    
}
/*-------auhor byline------*/
#viewlet-below-content-title {
    margin-top:60px;
    margin-left:10px;
}
/******editing********/

#portal-column-content {
    /*background-color:#F2F2F2;*/
        background-color:none;
}
#viewlet-above-content-title {
    margin-top: 60px;
}
fieldset {
    background-color:#F2F2F2;
}
.edit-form div#actionsView.formControls {
     background-color:#F2F2F2;
}
.listing {
    font-size:14px;
}
/*---------- MANAGE PORTLETS ----------*/
.managedPortlet {
  margin:0.8em 0;
  }
.blockedPortlet .portletHeader {
  border:1px dashed #ddd;
  margin:-1px;
  background:none !important;
  }
.blockedPortlet .portletHeader a {
  color:#666;
  }
.blockedPortlet .portletBlockedMessage {
  color:white;
  display:inline;
  }
div.portletAssignments div.portletHeader {
  font-size:1.2em;
  line-height:1em;
  padding:0.42em 1em;
  }
.managedPortletActions {
  float:right;
  }
.managedPortletActions a {
  margin:0 2px;
  }
div.managePortletsLink,
a.managePortletsFallback {
  font-size:85%;

color:black;
  }

/*---------- portlet Green and Grey Items ----------*/
div.portletGreenItem {
  background-color:#acc755;
  border-bottom:1px solid #fff;
  color:#fff;
  font-size:1.17em;
  padding:23px 38px 19px 14px;
  position:relative;
  }
div.portletGreyItem .image-left,
div.portletGreenItem .image-left {
  margin-top:0;
  }
div.portletGreenItem a.portletLinkItem,
div.portletGreyItem a.portletLinkItem {
  bottom:0;
  padding:2px 10px;
  position:absolute;
  right:0;
  text-decoration:underline;
  }
div.portletGreenItem a {
  color:#fff !important;
  }
div.portletGreenItem a.portletLinkItem {
  background-color:#c7d98d;
  font-size:0.79em;
  }
div.portletGreyItem {
  background-color:#929aa6;
  border-bottom:1px solid #fff;
  color:#fffdc1;
  font-size:0.92em;
  padding:11px 11px 25px;
  position:relative;
  }
div.portletGreyItem a {
  color:#fff !important;
  }
div.portletGreyItem a.portletLinkItem {
  background-color:#b6bbc3;
  }

/*---------- PORTLET STATIC TEXT ----------*/
.portletStaticText ul li {
  /*background:url(../images/theme_rain/rain_sprite.png) no-repeat -989px -382px;*/
  padding:0.5em 0 0 1.5em;
  }

/*---------- PORTLET NAVIGATION ----------*/
.portletNavigationTree dt.hiddenStructure {
  background:transparent;
  padding:0;
  }
.portletNavigationTree .portletItem {
  padding:0;
  }
.navTreeItem {
  margin:0;
  }
.navTreeItem a {
  background:transparent !important;
  border-bottom: 1px solid #f5f5f7;
  color:#332c34 !important;
  display:block !important;
  font-size:1.17em;
  line-height:1.28em;
  padding:5px 0px 5px 0;
  text-decoration:none;
  margin-left:-30px;
  
  }
.navTreeItem a:hover {
  background-color:#f0f2f2 !important;
  }
.navTreeItem a img,
.portletRecent a img {
  display:none;
  }
.navTreeCurrentItem {
  background-color:#f0f2f2;
  }
/*First Level*/
.portletItem .navTreeLevel0 .navTreeItem a:hover  {
  background-color:#e5e7eb !important;
  
   }

/* Second Level */
.portletItem .navTreeLevel1 {
  background-color:#f0f2f2;
  }
.portletItem .navTreeLevel1 .navTreeItem a  {
   font-size: 0.8em;
    line-height: 1.2em;
    margin-left:30px;
  }
.portletItem .navTreeLevel1 .navTreeItem a:hover  {
  background-color:#e5e7eb !important;
  
  }
.portletItem .navTreeLevel1 .navTreeCurrentItem {
  background-color:#e5e7eb !important;
  }

/* Third Level */
.portletItem .navTreeLevel2 .navTreeItem a {
  padding-left:54px;
  }
.portletItem .navTreeLevel3 .navTreeItem a {
  padding-left:67px;
  }

/* Site Map */
#portal-sitemap .navTreeItem div a {
  border:1px solid #f0f2f2;
  padding:5px;
  text-decoration:none;
  }
#portal-sitemap .navTreeItem ul {
  margin:5px 0;
  }
#portal-sitemap li {
  background:transparent !important;
  }
#portal-sitemap a:hover {
  background-color:#ccd0d6 !important;
  color:#332c34 !important;
  }

/*---------- PORTLET CALENDAR ----------*/
dl.portlet.portletCalendar dt {
  text-align:center;
  }
dl.portlet.portletCalendar a {
  text-decoration:none;
 }
.ploneCalendar .weekdays th {
  background-color:#ccd0d6;
  border-color:#888;
  border-style:solid none;
  border-width:1px;
  color:#332c34;
  text-align:center;
  padding:2px;
  font-weight:normal;
  }
.ploneCalendar .todaynoevent {
  border:2px solid #ffa500;
  border-collapse:collapse;
  }
.ploneCalendar td {
  background-color:#e5e7eb;
  padding:2px;
  text-align:center;
  width:14%;
  }
.ploneCalendar td a {
  color:#332c34;
  }
.dayPopup {
  background-color:#ffffe1;
  border:1px solid Black;
  padding:0.2em;
  position:absolute;
  visibility:hidden;
  width:12em;
  z-index:2;
  }
.date {
  font-weight:bold;
  }
dl.portlet.portletCalendar dd {
  padding:0;
  }
.ploneCalendar {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  }
.ploneCalendar .event {
  background-color:#ccd0d6;
  font-weight:bold;
  }
.ploneCalendar .todayevent {
  background-color:#ccd0d6;
  border:2px solid #ffa500;
  font-weight:bold;
  }
.ploneCalendar .todaynoevent {
  border-collapse:collapse;
  border:2px solid #ffa500;
  }


/*---------- PORTLET SEARCH ----------*/
.portletSearch .LSBox {
  padding:0 4px 0 5px;
  }
.portletSearch .portlet-search-gadget,
.portletSearch .portlet-search-gadget-nols {
  background:#fff;
  border:1px solid #8cacbb;
  height:15px;
  margin:0 0 0 -5px;
  padding:2px 3px 3px;
  vertical-align:top;
  width:65%;
  }
.portletSearch .searchButton {
  background:#8cacbb;
  border:0;
  color:#fff;
  font-weight:bold;
  height:22px;
  margin:0 -4px 0 0;
  overflow:visible;
  padding:0 4px;
  vertical-align:top;
  width:35%;
  }
.portletSearch .LSResult {
  left:-12px;
  top:20px;
  }
#portal-column-two .portletSearch .livesearchContainer {
  width:250px;
  }
.portletSearch .livesearchContainer {
  left:-12px;
  width:200px;
  }
.managePortletsAboveLink, .managePortletsBelowLink, .manageFooterPortletsLink, .manageInHeaderPortletsLink {
    background-color:#F2F2F2;
}
    
/*----- Content pulldowns -----*/
#contentActionMenus {
    background-color: #000000;
    float: left;
    line-height: 2em;
    margin-right: 250px;
    margin-top: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    margin-left:-5px;
    -webkit-margin-before: 0px;

}
body.template-folder_contents ul#contentActionMenus {

}
div.documentEditable div#edit-bar div.contentActions ul#contentActionMenus li dl#plone-contentmenu-workflow.actionMenu dt.actionMenuHeader a span.state-published {
  font-size:11px;
}

#contentActionMenus > li {
  display:inline;
  }
  .actionMenuHeader {
   -webkit-padding-before: 0px; 
 }
.actionMenu {
  float:left;
  margin:0 0 0 0.5em;
  position:relative;
  white-space:nowrap;
  width: 124px !important;
  top: 0 !important;
  -webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;

  }
.actionMenu dt {
  font-weight:bold;

  }
.actionMenu li {
  margin:0;
  }
.actionMenu a {
  color:#fff;
  display:block;
  line-height:1.73em;
  text-decoration:none;
  }
.actionMenu dt a {
  padding:0 3px;
    
  }
.arrowDownAlternative {
  font-size:80%;
  }
.actionMenu dd {
  background-color:none;
  left:-40px;
  margin:0;
  margin-top:-6px;
  min-width:100%;
  padding:0 3px 3px;
  position:relative;
  width:100%;
  z-index:5;
  float:left;
  background-color:black;
   -webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
  }
.actionMenu.deactivated dd {
  display:none;
  }
.actionMenu dd a:hover,
.actionMenu dd .actionMenuSelected {
  background-color:#fff;
  color:#666;
  }
.blue-boxTitle {
  display:block;
  padding:0 3px;
  }

/*----- Form Tabs -----*/
#content .formTabs {
  background-color:#ddd;
  margin:0;
  padding:3px 3px 0;
  }
#content .formTab {
  background:transparent;
  display:inline;
  margin-right:0.25em;
  padding:0;
  }
#content li.formTab a {
  display:inline-block;
  line-height:2em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content li.formTab a.selected,
#content li.formTab a:hover {
  background:#fff;
  color:#000;
  }
#content li.formTab a.notify {
  background-color:red;
  color:#fff;
  }
#content li.formTab a.required span:after {
  color:#f00;
  content:"";
  }
#content fieldset.formPanel {
  border:none;
}
#content fieldset.formPanel.hidden {
  display:none;
}
#content div.formControls input.hidden {
  display:none;
  }

/*----- Status messages -----*/
.portalMessage {
  background-color:#ffffe3;
  border:1px solid #996;
  clear:both;
  margin:1em 0;
  }
.portalMessage dl {
  margin:0;
  }
.portalMessage a {
  color:#000;
  }
.portalMessage dt {
  background-color:#996;
  color:#fff;
  font-weight:bold;
  float:left;
  line-height:1.25em;
  margin:0 0.5em 0 0;
  max-width:30%;
  padding:0.5em 0.75em;
  }
.portalMessage dd {
  line-height:1.25em;
  margin:0;
  padding:0.5em 0.5em;
  }
dl.warning {
  border-color:#d80;
  }
dl.warning dt {
  background-color:#d80;
  }
dl.warning dd {
  background-color: #fd7;
  }
dl.error {
  border-color:#d00;
  }
dl.error dt {
  background-color:#d00;
  }
dl.error dd {
  background-color:#fdc;
  }

/*----- Overlays -----*/
.overlay {
  display:none;
  height:auto;
  margin:1em;
  width:auto;
  }
.overlay-iframe,
.overlay-ajax {
  min-height:100px;
  width:600px;
  z-index:99;
  }
.overlay-iframe {
  height:60%;
  }
.overlaybg div.close,
.overlay div.close {
  background:url(../imgs/pb_close.png) no-repeat 0 0;
  cursor:pointer;
  height:30px;
  left:-14px;
  position:absolute;
  top:-14px;
  width:30px;
  }
.pb-ajax {
  overflow-y:auto;
  }

.pb-ajax #content-core form#login_form.enableAutoFocus #login-form  {
border:none;
}
.pb-ajax #content-core form#login_form.enableAutoFocus #login-form .field label {
font-size: 16px;
}
#fieldset-openid-login input, #login-form input {
margin-top:20px;
}
.pb-ajax,
.pb-image {
  background-color:#fff;
  border:1px solid #999;
  white-space:normal;
  box-shadow:0 0 3em 0.5em #666;
  -moz-box-shadow:0 0 3em 0.5em #666;
  -webkit-box-shadow:0 0 3em #666;
  }
.pb-ajax > div {
  padding:1em;
  }
.pb-ajax .documentActions {
  display:none;
  }
div.overlay div.close span {
  display:block;
  height:1px;
  margin:-1px 0 0 -1px;
  overflow:hidden;
  padding:0;
  width:1px;
  }
.overlay textarea {
  width:100%;
  }
.overlay .link-parent { display: none; }
.overlay #createGroup legend { display: none; }
.overlay #createGroup fieldset { border: none; }
.overlay p {
  margin-bottom:1em;
  }
.overlay label {
  margin-bottom:0.25em;
  }
.overlay a:hover {
  color:#75ad0a;
  }
.overlay a.selected {
  color: #000000;
  }
.overlay .formTab {
  margin-right:1em;
  font-weight: bold;
  }
.overlay .formTab.lastFormTab {
  margin-right:0em;
  }
.overlay .formControls a {
  display: block;
  margin: 0.75em;
  }

/*----- Login form -----*/
#fieldset-openid-login input,
#login-form input {
  font-size:150%;
  }
body.template-register #content input,
body.template-new-user #content input {
  font-size:150%;
  width:inherit;
  }
#fieldset-openid-login label,
#login-form label {
  display:inline-block;
  margin-right:0.5em;
  padding-top:0.2em;
  width:10em;
  }
#fieldset-openid-login .formControls,
#login-form .formControls {
  padding-left:10.7em;
  }

/*----- Content History -----*/
#content-history .historyRecord {
  margin-bottom:1em;
  }
#content-history .historyTools ul {
  float:right;
  margin:0.5em 1em;
  }
#content-history .historyTools ul li {
  display:inline;
  padding:0 0.015em;
  }
#content-history .historyTools form {
  display:inline;
  }
#content-history .historyByLine {
  background:#ddd;
  padding:0.5em;
  }
#content-history .historyLinks {
  clear:right;
  float:right;
  margin:0.5em 1em 0 0;
  }
#content-history .historyComment {
  border:1px solid #ddd;
  padding:0.5em 1em;
  }
#content-history .historyComment p {
  margin:0;
  padding-top:1px;
  }
#content-history a.historyComparePrevious {
  border-top: 1px dotted #ccc;
  display: block;
  margin-top: 3em;
  text-align: center;
  }
#content-history a.historyComparePrevious span {
  background-color: white;
  position: relative;
  top: -0.75em;
  padding: 0 0.5em;
  }

/*----- Data tables -----*/
table.listing,
table.plain {
  border-spacing:0;
  border-collapse:collapse;
  margin:0 0 0.75em;
  width:100%;
  }
table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
  padding:0.5em 1em;
  vertical-align:top;
  }
table.plain th,
table.plain td {
  /*border:1px solid #ddd;*/
  border-style:none;
}
 table.plain tbody tr th p {
    text-align: left;
    clear: left;
    clear: both;
  }
  table.plain tbody tr td p strong {
    clear: both;
    float: left;
    text-align:left;
 }
    table.plain tbody tr td p b {
    clear: both;
    float: left;
    text-align: left;
}
}
table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
  text-align:center;
  }
table.listing {
  border-left:1px solid #ddd;
  border-bottom:1px solid #ddd;
  }
table.listing .top {
  border-left:1px solid #ddd;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  }
table.listing th {
  background:#ddd;
  border:0.1em solid #e7e7e7;
  border-style:solid solid none;
  color:#666;
  text-align:left;
  }
table.listing tr.odd th {
  border:0.1em solid #fff;
  border-style:solid solid none none;
  }
table.listing tbody th {
  font-weight:bold;
  }
table.listing tbody tr {
  text-align:left;
  }
table.listing tbody tr.odd {
  background:#eee;
  }
table.listing tbody tr td {
  background:transparent;
  }
table.listing tbody tr.odd td {
  background:#eee;
  }
table.listing td {
  border-right:1px solid #ddd;
  }
table.listing a {
  border:none;
  display:inline-block;
  }
table.listing td.draggable {
  background:#ddd !important;
  border-bottom:1px solid white;
  padding:0.4em 0.4em 0 0.5em;
  text-shadow:#fff 1px 1px 1px;
  }

/* Vertical table data listings */
table.vertical th {
  text-align:right;
  }
table.vertical td {
  border-top:0.1em solid #e7e7e7;
  padding:0.5em;
  }

/* Grid table listings */
table.grid td,
table.grid th {
  border:1px solid #e7e7e7;
  padding:0.5em;
  }
.dragindicator {
  outline:2px solid #ffd700;
  }
#foldercontents-order-column {
  padding:0;
  }
.listingBar {
  background-color:#fff;
  font-size:1em;
  line-height:1.2em;
  margin:0 -1em;
  padding:1em 0;
  text-align:center;
  }
.listingBar .previous {
  float:left;
  }
.listingBar .next {
  float:right;
  }
.listingBar a,
.listingBar .current {
  padding:0 5px;
  text-decoration:none;
  }
.listingBar .current {
  font-weight:bold;
  }
.listingBar .previous a {
  border-bottom:8px solid transparent;
  border-right:8px solid #929aa6;
  border-top:8px solid transparent;
  display:inline-block;
  height:0;
  overflow:hidden;
  vertical-align:middle;
  width:0;
  }
.listingBar .next a {
  border-bottom:8px solid transparent;
  border-left:8px solid #929aa6;
  border-top:8px solid transparent;
  display:inline-block;
  height:0;
  overflow:hidden;
  vertical-align:middle;
  width:0;
  }

/*---------- DASHBOARD ----------*/
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
  float:left;
  margin-right:1.3%;
  width:24%;
  }
#dashboard-portlets4 {
  margin-right:0;
  }

/*---------- ALBUM ----------*/
.photoAlbumEntry {
  background:url(../images/album.png) no-repeat;
  float:left;
  font-size:0.92em;
  height:162px;
  line-height:1.36em;
  margin:0 6px 6px;
  padding:8px 7px 8px 6px;
  width:132px;
  }
.photoAlbumFolder {
  background-position:0 -178px;
  }
.photoAlbumEntry a {
  display:block;
  height:162px;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  }
.photoAlbumEntry a:after {
  background-color:rgba(241, 241, 241, 0.4);
  bottom:0;
  content:"";
  height:8px;
  position:absolute;
  width:100%;
  }
.photoAlbumEntryWrapper {
  display:block;
  text-align:center;
  }
.photoAlbumEntry img {
  border:2px solid #fff;
  }
.photoAlbumEntryTitle {
  color:#757373;
  display:block;
  padding:4px 3px 0;
  width:126px;
  }
.photoAlbumEntry a:hover {
  overflow:visible;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle  {
  background-color:rgb(241,241,241);
  background-color:rgba(241,241,241,0.8);
  bottom:0;
  min-height:50%;
  position:absolute;
  }

/*----- Accessibility elements, applied by JS -----*/
body.largeText {
  font-size:88%;
  }
body.smallText {
  font-size:69%;
  }

/*---------- COMMENTING ----------*/
.discussion .hide {
  display:none;
  }
.discussion {
  clear:both;
  font-size:1.09em;
  }
.comment {
  padding:0 0 9px;
  }
.commentImage {
  float:left;
  padding:5px 7px;
  }
 .documentByLine {
 clear:both;
 }
.discussion .documentByLine {
  background-color:#f1f1f1;
  margin:0;
  padding:5px;
  }
.commentBody {
  border-color:#d9d9d9 #f1f1f1 #f1f1f1;
  border-style:solid;
  border-width:1px;
  clear:both;
  margin:0 0 5px;
  padding:5px;
  overflow:auto;
  }
.commentActions {
  text-align:right;
  }
.reply-to-comment-button {
  margin-left:11px;
  }
.reply {
  background-color:#f1f1f1;
  clear:both;
  font-size:1.09em;
  margin:35px 0 0;
  padding:5px 7px;
  position:relative;
  }
.reply fieldset {
  border:0;
  margin:0;
  }
.reply legend {
  font-weight:bold;
  position:absolute;
  top:-28px;
  }
.reply p {
  color:#76797c;
  font-size:0.92em;
  }
.reply textarea {
  min-height:50px;
  width:100%;
  }