
body #menu, ul #menu, li #menu {
    margin-top: -27px;
    clear:both;
	float:left;
	margin-left:0;
}
:focus {
outline: 0;
}
#portal-searchbox {
margin-left: 78% !important;
}
#portaltab-aasc.drop a.plain {
    padding-left: 40px;
    margin-top: 5px;
}
#portaltab-aasc.drop a:hover {
     padding-left: 40px;
    color: orange;
    }
#portaltab-giving.drop a.plain {
 padding-left: 30px;
    margin-top: 5px;
}
#portaltab-giving.drop a:hover {
     padding-left: 30px;
    color: orange;
    }

p.menu-txt {
    width: 300px;
    margin: auto;
	
}

#menu {
	list-style:none;
	margin:-37px auto 0px 0;
	height:43px;

	/* Rounded Corners 
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/

	/* Background color and gradients 
	
	background: #014464;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	*/
	/* Borders 
	
	border: 1px solid #002232;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;*/
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 22px 4px 19px;
	
	margin-top:7px;
	border:none;

}
.menu_left li:hover {

}
	
#menu > ul >li:hover {
	/*border: 1px solid #fff;*/
	padding: 4px 10px 4px 10px;
	color:#fff;/*not green*/
	
	/* Background color and gradients 
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));*/
	
	/* Rounded corners 
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;*/
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; 
	color:#68a63c;
	font-weight:600;
	display:block;
	outline:0;
	text-decoration:none;
	/*text-shadow: 1px 1px 1px #000;*/
	text-transform:uppercase;
	
}

#menu li:hover a {
	color:#fff;/*light blue*/
	/*text-shadow: 1px 1px 1px #ffffff;*/
	
}
#menu li .drop {
	padding-right:21px;
	background:url("../img/drop.png") no-repeat right 8px;
	padding:0px 20px 0px 20px;
}
#menu li:hover .drop {
	background:url("../img/drop.png") no-repeat right 7px;
	background:#fff;
	border:0px solid #fff;
	height:20px;
	
	padding:0px 20px 0px 20px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(255,255,255,0.29) 55%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0.01)), color-stop(55%,rgba(255,255,255,0.29))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,0.29) 55%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,0.29) 55%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,0.29) 55%); /* IE10+ */

background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,0.29) 55%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4affffff',GradientType=0 ); /* IE6-8 */


}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
margin-top:-1px;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #fff;
	
	background-color:#083b6a; /*dark blue*/
		z-index:5;
	
	/* Gradient background 
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));*/

	/* Rounded Corners 
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;*/
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns align_left {width: 420px;}
.dropdown_3columns {width: 420px; z-index:200}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_2a,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_2a {width:200px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

.col_3 {
	padding-bottom: 0;
    padding-left: 23px;
    padding-right: 0;
    padding-top: 0;
    width: 384px;
	margin-left:-11px;
}


#menu .menu_right {
	float:right;
	margin-right:0px;
	
}
#menu .menu_left {
	float:left;
	margin-left:0px;
}
#menu li .align_right {
	/* Rounded Corners 
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;*/
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}
#menu li:hover .align_left {
	right:auto;
	left:-1px;
	top:auto;
}

#menu p, #menu h4, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:11px;
	text-align:left;
	/*text-shadow: 1px 1px 1px #FFFFFF;*/
	color:white;
	
}
#menu h4 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:0px solid #fff;
	text-transform:uppercase;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:0px solid #fff;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
	padding-right:10px;
	width:400px;

}

#menu li:hover div a {
	font-size:11px;
	color:#fff;
}
#menu li:hover div a:hover {
	color:#fff;/*#68a63c green*/
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { 
	background:#083b6a;
	padding:4px;
	border:1px solid #fff;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #fff;
	-webkit-box-shadow:0px 0px 5px #fff;
	box-shadow:0px 0px 5px #fff;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
	float:left;
	clear:both;
}

#menu li .black_box {
	/*background-color:#333333;
	color: #eeeeee;*/
	/*text-shadow: 1px 1px 1px #000;*/
	padding:4px 6px 4px 6px;

	/* Rounded Corners 
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/

	/* Shadow 
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;*/
}
ul.submenu {
    margin-left: 0em;
    padding-left: 1em;
    text-indent: -1em;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 1.7em;
	
	
}
#menu li ul li {
	font-size:11px;
	line-height:24px;
	position:relative;
	/*text-shadow: 1px 1px 1px #ffffff;*/
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .submenu li {
	/*background:#F4F4F4;
	border:1px solid #bbbbbb;*/
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:191px;
	float:left;

	/* Rounded Corners 	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
}
#menu li .submenu li:hover {
	/*background:#ffffff;
	border:1px solid #fff;*/
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
/*#menu nav#access a.skip-link*/
#menu #access a.skip-link
 {
	display:none;
}

#portal-searchbox {
 margin-top:0px;
  
}
#portal-personaltools {
	 margin-right: 2%;

	
}


/* Defaut link style */
#access a, #access #menu a, #menu li a {

  display: block;
 color:#fff;/*green*/
  text-decoration: none;
  padding: 0.2em, 0.5em;
  -webkit-transition: -webkit-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
  -moz-transition: -moz-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
  -ms-transition: -ms-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
  -o-transition: -o-transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
  transition: transform 500ms linear, box-shadow 500ms ease-in, background-color 250ms ease-in;
}

#access a:hover, #access #menu a:hover, #access a.skip-link.focus, #access #menu a.skip-link.focus, #menu li a:hover {
 
 
}

#access {
  font-size:11px; 
	font-family:"Helvetica Neue", "Helvetica Neue Light", sans-serif, Helvetica;
	line-height:21px;
	text-align:left;
	font-weight:bold;
	text-transform:uppercase;
		font-color:#fff;
  /*-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
}
#access li.menu_left div.dropdown_3columns div.col_3 p.menu-txt {
	text-transform:capitalize;
	font-weight:normal;
}
#access a.skip-link, #access #menu a.skip-link {
  position: relative;
  z-index: 2;
}
#access a.skip-link span, #access #menu a.skip-link span {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  -webkit-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 0 0.3em;
}
#access #menu li.active a a, #access #menu li.active a a:hover, #access #menu li.active:nth-child(odd) a, #access #menu li.active:nth-child(odd) a:hover {

  color: #68a63c;
  cursor: default;
}

#menu {
  border: 0 none;
  margin: 0;
  padding: 0;
}
#menu li {
  list-style-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-transition: max-height 500ms linear;
  -moz-transition: max-height 500ms linear;
  -ms-transition: max-height 500ms linear;
  -o-transition: max-height 500ms linear;
  transition: max-height 500ms linear;
  padding: 0 1%;
}
#menu li a {
  white-space: normal;
  /*overflow: hidden;*/
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
 /* -moz-binding: url('xml/ellipsis.xml#ellipsis');*/
}
 /*slider*/
 .slides_container {
    float: left;
    margin-top: -20px;
    position: relative;
    width: 100%;
}
span.text_sub {
    color: #FFFFFF;
    display: block;
    font-size: 1.5em;
    left: 0;
    line-height: 1.5em;
       right: 0;
    text-align: center;
    text-shadow: none;
	padding: 8px 8px;
}
.slides_tabs {
    
    font-size: 24px;
    margin-bottom: 0;
    margin-left: -8%;
    margin-right: auto;
    margin-top: -100px;
    max-width: 540px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
      width: 100%;
   
}



/*ipad landscape only*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  
#portal-searchbox {
			
  
  float: right;
  clear:both;
  
		
	}

}


/*ipad portrait*/
@media only screen and (max-width: 768px) {

#all_content {
margin-top: 40px;
}

#menu li:hover a {
	color:#68a63c;/*light blue*/
	/*text-shadow: 1px 1px 1px #ffffff;*/
	
}
#menu li:hover .drop {
	background-image:none !important;
}

	
		body #menu, ul #menu, li #menu {
   }
/*#menu nav#access a.skip-link
*/
#menu #access a.skip-link
 {
	display:block;
}
.icon-th-large::before {
	float:none;
	margin-left:0;
	clear:none;
}

	#portal-searchbox {
		margin-top:0px;	
 
  float: right;
  clear:both;
  
	}
	
  #menu {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: margin 500ms linear;
    -moz-transition: margin 500ms linear;
    -ms-transition: margin 500ms linear;
    -o-transition: margin 500ms linear;
    transition: margin 500ms linear;
    margin-top: -1.2em;
    overflow: hidden;
	z-index:100;
  }
  #menu li {
    max-height: 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
  }
  #menu li a {
    -webkit-transform-origin: top 50%;
    -moz-transform-origin: top 50%;
    -ms-transform-origin: top 50%;
    -o-transform-origin: top 50%;
    transform-origin: top 50%;
    -webkit-transform: rotateX(-90deg) scale(0.97);
    -moz-transform: rotateX(-90deg) scale(0.97);
    -ms-transform: rotateX(-90deg) scale(0.97);
    -o-transform: rotateX(-90deg) scale(0.97);
    transform: rotateX(-90deg) scale(0.97);
    position: relative;
    overflow: hidden;
    /*background-color: #48665c;*/
  }
  #menu li:nth-child(odd) a {
    -webkit-box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 4em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotateX(90deg) scale(0.97);
    -moz-transform: rotateX(90deg) scale(0.97);
    -ms-transform: rotateX(90deg) scale(0.97);
    -o-transform: rotateX(90deg) scale(0.97);
    transform: rotateX(90deg) scale(0.97);
  }
  #menu li.active a:before, #menu li a:hover:before {
    opacity: 1;
  }
  #menu li a:hover:before {
   
  }
  #menu li.active a:before, #menu li.active a:hover:before {
    color: #68a63c;
  }
  #menu:target, #menu.target {
    margin-top: 0;

  }
  #menu:target li, #menu.target li {
    max-height: 2.5em;
    height: auto;
  }
  #menu:target li a, #menu.target li a {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: rotateX(0) scale(1);
    -moz-transform: rotateX(0) scale(1);
    -ms-transform: rotateX(0) scale(1);
    -o-transform: rotateX(0) scale(1);
    transform: rotateX(0) scale(1);
  }
  .header {
	height:100px;
}
}

/*ipad portrait*/
@media only screen and (max-width: 768px) {
	#access a, #access #menu a, #menu li a {

  display: block;
 color:#fff;/*#68a63c green*/
	}
	li.menu_left a.drop {
	background-image:none !important;
}
	
   #menu:target li, #menu.target li {
  
	float: none;
display: block;
text-align: left;
position: relative;
padding: 10px;
margin: -10px;
border: none;
overflow: visible;
z-index: 300;
line-height: 24px;
padding: 3px;
margin: 0px;

}
#menu:target li a, #menu.target li a {
  
	padding-left:21px;

}
#access a, #access #menu a, #menu li a {

line-height: 24px;

}

#menu:target, #menu.target {
background-color: #17467D;
padding: 8px;
margin: 0px 16px 0px 14px;
padding-bottom:8px;
height:253px;

}

body #menu, ul #menu, li #menu {
margin-top: -30px;
margin-bottom: -16px;
}
#content {
  
    margin-top:-50px;
    padding-top: 0;
    }
 p.caption span.sub {
     margin-top: -20px;
    }
p.caption span.text_sub {
    display: none;
    }
.dropdown_3columns {
   display:none;
	}

	
	#access a.skip-link {
    display: inline-block;
  }


.logo {
	margin-top:0px;
}
.header {
	height:50px;
}
 /*slider*/
 
 .slides1_nav {
width: 30px !important;

top: 103% !important;
}

span.text_sub {
	display:block;
}
.slides_tabs a {
padding: 0.6px 7px !important;
}

.slides_container {
	margin-top:10px !important;
	margin-bottom: 25px !important;
}

  .slides_tabs {
   
    margin-left: -21%;
  
}
.events {
float: none;
}
#portal-searchbox {
	
}
.logo {
	margin-top:0px;
}
.header {
	height:150px;
}

#menu:target li, #menu.target li {
border:none !important;
background-image:none;
}
#menu li:hover a {
    margin-left: -29px
    
    }
    #portaltab-aasc.drop a:hover {
    	color: #68A63C !important;
    	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    }
    #portaltab-aasc.drop a.plain {
    	margin-left: -9px;
    padding-left: 10px;
    margin-top: -2px;
    padding-bottom: 0;
    
    }
 #portaltab-aasc.drop:hover {
    
    margin-left: -1px;
    padding-left: 13px;
    height:18px;
    padding-bottom: 0;
    background-color: #083b6a;
    color: #68A63C !important;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
 #portaltab-giving.drop a:hover {
        color: #68A63C !important;
        -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }
    #portaltab-giving.drop a.plain {
        margin-left: -9px;
    padding-left: 10px;
    margin-top: -2px;
    padding-bottom: 0;
    
    }
 #portaltab-giving.drop:hover {
    
    margin-left: -1px;
    padding-left: 13px;
    height:18px;
    padding-bottom: 0;
    background-color: #083b6a;
    color: #68A63C !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

ul#menu.target div#access li#portaltab-index_html.drop a.plain {
    display: none;
}
}
/*ipad landscape*/
@media only screen and (min-width: 769px) {

	#menu li:hover a {
	color:#fff;/*light blue*/
	/*text-shadow: 1px 1px 1px #ffffff;*/
	
}



[class^="icon-"]:before,
  [class*=" icon-"]:before {
    display: block;
    text-align: center;
    margin-right: 0;
  }

  #access a.skip-link {
    display: block;
  }

  #menu {
    width: 100%;
   
    text-align: center;
	z-index:100;
  }
  #menu li {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
   
  }
  #menu li {
    *display: inline;
  }
  #menu li a:before {
    -webkit-transition: -webkit-transform 500ms ease-in;
    -moz-transition: -moz-transform 500ms ease-in;
    -ms-transition: -ms-transform 500ms ease-in;
    -o-transition: -o-transform 500ms ease-in;
    transition: transform 500ms ease-in;
  }
  #menu li a:hover:before {
    -webkit-transform: translateY(1em) scale(3) rotate(15deg);
    -moz-transform: translateY(1em) scale(3) rotate(15deg);
    -ms-transform: translateY(1em) scale(3) rotate(15deg);
    -o-transform: translateY(1em) scale(3) rotate(15deg);
    transform: translateY(1em) scale(3) rotate(15deg);
  }

}
/*iphone landscape*/
@media only screen and (max-width: 481px) {

.section-people #inside-content {
-webkit-margin-start: 0;
-webkit-padding-start: 0;
}

#parent-fieldname-title {
clear: both;
}
#all_content {
margin-top: 50px;
}

html {
   
	}
body {
	height:auto;
width:480px;
overflow-x:hidden;
}
#wrapper {
}
#portal-personaltools {
display:none;	
}

#portal-searchbox {
	display:none;
}

.threecol p {
	margin-bottom:0 !important;
}
span.more_news {

line-height: 0px;
}
  #menu:target li, #menu.target li {
  
	float: none;
display: block;
text-align: left;
position: relative;
padding: 10px;
margin: -10px;
border: none;
overflow: visible;
z-index: 300;
line-height: 24px;
padding: 3px;
margin: 0px;

}
#menu:target li a, #menu.target li a {
  
	padding-left:21px;

}
#access a, #access #menu a, #menu li a {

line-height: 24px;

}

#menu:target, #menu.target {
background-color: #17467D;
padding: 3px;
margin: 63px 16px 0px 14px;
padding-bottom:8px;
height:250px;
}

body #menu, ul #menu, li #menu {
margin-top: 30px;
}
.dropdown_3columns {
   display:none;
	}

	
	#access a.skip-link {
    display: inline-block;
  }

#portal-searchbox {
	display:none;
}
.logo {
	margin-top:0px;
}
.header {
	height:50px !important;
}
 /*slider*/
 
 .slides1_nav {
width: 30px !important;

top: 103% !important;
}
span.sub {
font-size: 2em !important;
margin: -32px 0 0 0 !important;
}
span.text_sub {
	display:none;
}
.slides_tabs a {
padding: 0.6px 7px !important;
}
.slides_tabs {
font-size: 16px !important;
margin: -57px auto 0 -28% !important;
}
.slides_container {

}
.events {
float: none;
margin-top:6%;
}
#portal-searchbox {
	display:none;
}
.logo {
	margin-top:0px;
}
.header {
	height:50px;
}
}
/*iphone portrait*/
@media only screen and (max-width: 321px) {
#all_content {
margin-top: 0px;
}

html {

	}
	body {
	height:auto;
width:320px;
overflow-x:hidden;
}
/*fix for side nav*/


.portlet.portletNavigationTree {
    display:none;
}
#content {
    background-color: #fff;
    min-height: 0px;
    padding-bottom: 10px;
   padding-top: 10px;
   height:0;
    }
#parent-fieldname-title {
margin-top: 60px;
padding-top: 10px;
}
#inside-content {
    width:100%;
}
#portal-searchbox {
	display:none;
}
#portal-personaltools {
display:none;	
}

.threecol p {
	margin-bottom:0 !important;
}
span.more_news {

line-height: 0px;
}

  #menu:target li, #menu.target li {
  
	float: none;
display: block;
text-align: left;
position: relative;
padding: 10px;
margin: -10px;
border: none;
overflow: visible;
z-index: 300;
line-height: 24px;
padding: 3px;
margin: -7px;

}
#menu:target li a, #menu.target li a {
  
	padding-left:21px;

}
#access a, #access #menu a, #menu li a {

line-height: 24px;

}
#menu:target, #menu.target {
margin: 27px 16px 8px;
background-color: #17467D;
padding: 3px;
margin: 27px 16px 0px 14px;
padding-bottom:8px;
height:200px;
}

body #menu, ul #menu, li #menu {
margin-top: 8px;
}
.dropdown_3columns {
   display:none;
	}

	
	#access a.skip-link {
    display: inline-block;
  }

#portal-searchbox {
	display:none;
}
.logo {
	margin-top:0px;
}
.header {
	height:50px;
}
 /*slider*/
 
 .slides1_nav {
width: 30px !important;
top: 103% !important;
margin-left: -7%;
margin-right: -7%;
opacity: 0.6;

}
span.sub {
font-size: 2em !important;
margin: -32px 0 0 0 !important;
}
span.text_sub {
	display:none;
}
.slides_tabs a {
padding: 0.6px 7px !important;
}
.slides_tabs {
font-size: 16px !important;
margin: -57px auto 0 -28% !important;
}
.slides_container {
	margin-top:10px !important;
	margin-bottom: 25px !important;
}
.events {
float: none;
margin-top:6%;
}
}


